# Petlink/.env

# Django Settings
SECRET_KEY=django-insecure-development-petlink-2026
DEBUG=True

# PostgreSQL Database
POSTGRES_DB=petlink_db
POSTGRES_USER=petlink_user
POSTGRES_PASSWORD=petlink_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# 42 API OAUTH
FT_CLIENT_ID=u-s4t2ud-250fe4f997c1997a9eb9fbe70921072de2d8b67d2086b05d6e2ff4c6bdc4a7bb
FT_CLIENT_SECRET=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
FT_REDIRECT_URI=http://localhost:8080/auth/42/callback/
