# Django Settings
SECRET_KEY='place django secret key here'
DEBUG=False

# PostgreSQL Database
POSTGRES_DB=petlink_db
POSTGRES_USER=petlink_user
POSTGRES_PASSWORD='place postgres pass here'
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# 42 API OAUTH
FT_CLIENT_ID='place intra client id key here'
FT_CLIENT_SECRET='place intra api secret key here'
FT_REDIRECT_URI=https://localhost:8080/auth/42/callback/
