/* Container wrapper */
.home-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 6.25rem;
  padding: 1.25rem;
}

/* Profile card and menu container */
.left-sidebar {
  display: flex;
  gap: 1.875rem;
  align-items: flex-start;
  flex-direction: column;
}
 
/* Post container */
.home-post-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 37.5rem;
}

.home-post-container > :last-child {
  margin-bottom: 2.5rem;
}