/* Container wrapper */
.home-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
<<<<<<< HEAD
  gap: 2.5rem;
  margin-top: 6.25rem;
  padding: 1.25rem;
=======
  gap: 40px;
  margin-top: 10px;
  padding: 20px;
>>>>>>> 21e04e30c194cb2fb14bd5480a505986ddc32eda
}

/* Profile card and menu container */
.left-sidebar {
  display: flex;
<<<<<<< HEAD
  gap: 1.875rem;
=======
  gap: 30px;
>>>>>>> 21e04e30c194cb2fb14bd5480a505986ddc32eda
  align-items: flex-start;
  flex-direction: column;
}
 
/* Post container */
.home-post-container {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  gap: 1.25rem;
  width: 37.5rem;
}

.home-post-container > :last-child {
  margin-bottom: 2.5rem;
}
=======
  gap: 20px;
  width: 600px;
}

>>>>>>> 21e04e30c194cb2fb14bd5480a505986ddc32eda
